:root {
    /* base color   */
    --color-background: rgb(12, 12, 12);
    /* text/highlights/borders */
    --color-primary: rgba(196, 156, 64, 1);
    --color-primary-hover: #fca84e;
    --color-secondary: rgba(255, 255, 255, 1);
    --color-secondary-hover: rgba(255, 255, 255, 0.885);
}

body {
    font-family: 'Hepta Slab', serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-primary);
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: 200;
}

p {
    color: var(--color-secondary);
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05em;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 1rem;
}

a:hover {
    color: var(--color-primary-hover);
}

.navlink-res {
    border: 1px solid var(--color-primary);
    padding: 0.5rem;
}

.logo-accent {
    font-size: 2.25rem;
}

.layout-wrapper-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    top: 0;
    position: sticky;
    border-bottom: 1px solid var(--color-primary);
}

nav {
    display: flex;
    gap: 1rem;
}

.hero-container {
    position: relative;
    width: 100%;
    max-height: 60vh;
    overflow: hidden;
}

.hero-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    width: 80%;
}

.intro>div {
    flex: 1;
}

.intro-text-container,
.intro-img-container {
    flex: 1;
}

.intro-text {
    /* max-width: 30rem;
    margin: 0 auto; */
}

.intro-img {
    flex: 1;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}